.save-button {
  background-color: #42B833;
  position: absolute;
  right: 0;
  margin-right: 115px;
  margin-top: 10px;
}

.preview-button {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;
  background-color: grey;
}

.fa-plus-square {
  font-size: 80px;
  color: #CF1919;
  position: absolute;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 40px;
  padding-bottom: 20px;
  cursor: pointer;
}